body {
	font-family: sans-serif
}

#table {
	position: relative;
	background: green;
	width: 1000px;
	height: 600px;
	border:10px solid green;
}

#surface {
   width: 1000px;
   height: 300px;
}

.ownhand {
   position: relative;
   border: 2px dotted rgba(255,255,255,.4);
   height: 96px;
   min-width: 200px;
}



.card {
	display: block;
	position: absolute!important;
	width:71px; 
	height:96px;
}

.card.up {
   background-image:url('../res/cards.png');
}

.card.down {
   background-image:url('../res/cardback.png');

}

.globalerror {
   background: yellow;
   zindex: 1000;
   border:1px solid red;
   padding: 3px;
   position:absolute;
   top:5px;
   left:5px;
}