<div class="buttons">
	<button type="button" id="shuffle">Shuffle</button>
	<button type="button" id="allup">All Up</button>
	<button type="button" id="alldown">All Down</button>
	<button type="button" id="collect">Collect</button>
	<button type="button" id="spread">Collect and Spread</button>
	<button type="button" id="reset">Reset</button>
</div>
<div id="table">
   <div id="surface"></div>
   <div id="myhand"></div>
</div>